<div class="login">
  <a routerLink="/">
    <lib-shop-logo />
  </a>
  <h1 class="login__title">Chào mừng trở lại!</h1>

  <p class="login__subtitle">Đăng nhập vào tài khoản của bạn</p>

  <form class="login__form" (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="email">Email</label>

      <div class="input-wrapper">
        <svg lucideMail [size]="16" class="input-icon"></svg>

        <input
          id="email"
          type="email"
          placeholder="example@email.com"
          class="form-input"
          [formField]="loginForm.email"
        />
      </div>
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu</label>

      <div class="input-wrapper">
        <svg lucideLock [size]="16" class="input-icon"></svg>

        <input
          id="password"
          type="password"
          placeholder="Nhập mật khẩu"
          class="form-input form-input--password"
          [formField]="loginForm.password"
        />

        <button
          type="button"
          class="password-toggle"
          (click)="isShowingPassword.update(prev => !prev)"
        >
          <svg [lucideIcon]="passwordIcon()" [size]="16"></svg>
        </button>
      </div>
    </div>

    <div class="forgot-password">
      <a routerLink="/forgot-password"> Quên mật khẩu? </a>
    </div>

    <button type="submit" class="submit-btn" [disabled]="isLoading()">Đăng nhập</button>
  </form>

  <div class="divider">
    <div class="divider__line"></div>

    <span>hoặc đăng nhập với</span>

    <div class="divider__line"></div>
  </div>

  <div class="social-buttons">
    <app-external-login-btn></app-external-login-btn>
  </div>

  <p class="register-link">
    Chưa có tài khoản?

    <a [routerLink]="['/', AUTH_ROUTES.register]"> Đăng ký ngay </a>
  </p>
</div>
