@if (isResetPasswordSuccess()) {
  <div class="reset-success">
    <div class="reset-success__icon">
      <svg lucideCircleCheckBig [size]="32"></svg>
    </div>

    <h1 class="reset-success__title">Đặt lại mật khẩu thành công!</h1>

    <p class="reset-success__subtitle">
      Mật khẩu của bạn đã được cập nhật. Hãy đăng nhập với mật khẩu mới.
    </p>

    <button [routerLink]="['/', AUTH_ROUTES.login]" class="reset-success__button">
      Đăng nhập ngay
    </button>
  </div>
} @else {
  <div class="reset-password">
    <div class="reset-password__header">
      <div class="reset-password__icon">
        <svg lucideLock [size]="22"></svg>
      </div>

      <h1 class="reset-password__title">Đặt lại mật khẩu</h1>

      <p class="reset-password__subtitle">
        Nhập mật khẩu mới cho tài khoản của bạn.
      </p>
    </div>

    <form class="reset-password__form" (submit)="onSubmit($event)">
      <div class="form-group">
        <label for="password">Mật khẩu mới</label>

        <div class="input-wrapper">
          <svg lucideLock [size]="16" class="input-icon"></svg>

          <input
            id="password"
            [type]="isShowingPassword() ? 'text' : 'password'"
            placeholder="Nhập mật khẩu"
            [formField]="resetPasswordForm.newPassword"
            class="form-input form-input--password"
          />

          <button
            type="button"
            class="password-toggle"
            (click)="isShowingPassword.update(prev => !prev)"
          >
            <svg [lucideIcon]="passwordIcon()" [size]="16"></svg>
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="repeat-password">Xác nhận mật khẩu</label>

        <div class="input-wrapper">
          <svg lucideLock [size]="16" class="input-icon"></svg>

          <input
            id="repeat-password"
            type="password"
            [formField]="resetPasswordForm.confirmPassword"
            placeholder="Nhập lại mật khẩu"
            class="form-input form-input--password"
          />

          <button
            type="button"
            class="password-toggle"
            (click)="isShowingPassword.update(prev => !prev)"
          >
            <svg [lucideIcon]="passwordIcon()" [size]="16"></svg>
          </button>
        </div>
      </div>

      <button type="submit" class="submit-btn" [disabled]="isLoading()">Đặt lại mật khẩu</button>
    </form>

    <p class="back-login">
      Nhớ mật khẩu rồi?

      <a [routerLink]="['/', AUTH_ROUTES.login]"> Đăng nhập </a>
    </p>
  </div>
}
