<div class="forgot-password">
  <a routerLink="/">
    <lib-shop-logo />
  </a>
  @if (!emailSent()) {
    <div class="forgot-password__header">
      <div class="forgot-password__icon">
        <svg lucideMail [size]="22"></svg>
      </div>

      <h1 class="forgot-password__title">Quên mật khẩu?</h1>

      <p class="forgot-password__subtitle">
        Nhập email đăng ký của bạn. Chúng tôi sẽ gửi hướng dẫn đặt lại mật khẩu.
      </p>
    </div>

    <div class="forgot-password__form">
      <div class="form-group">
        <label for="email">Địa chỉ email</label>

        <div class="input-wrapper">
          <svg lucideMail [size]="16" class="input-icon"></svg>

          <input
            id="email"
            type="email"
            name="email"
            placeholder="example@email.com"
            [(ngModel)]="email"
            class="form-input"
          />
        </div>
      </div>

      <button type="click" class="submit-btn" [disabled]="isLoading()" (click)="onSubmit()">
        Gửi hướng dẫn đặt lại mật khẩu
      </button>
    </div>

    <a [routerLink]="['/', AUTH_ROUTES.login]" class="back-link">
      <svg lucideArrowLeft [size]="14"></svg>
      Quay lại đăng nhập
    </a>
  } @else {
    <div class="success-state">
      <div class="success-state__icon">
        <svg lucideMail [size]="28"></svg>
      </div>

      <h1 class="success-state__title">Kiểm tra email của bạn</h1>

      <p class="success-state__description">
        Chúng tôi đã gửi hướng dẫn đặt lại mật khẩu đến
        <strong>{{ email() }}</strong
        >. Kiểm tra email để thực hiện bước tiếp theo.
      </p>

      <div class="info-box">
        <p class="info-box__title">💡 Lưu ý:</p>

        <ul>
          <li>Kiểm tra thư mục spam nếu không thấy email</li>
          <li>Email có hiệu lực trong vòng 15 phút</li>
          <li>Chỉ click vào link trong email từ TPhoneShop</li>
        </ul>
      </div>

      <button type="button" class="secondary-btn" [disabled]="isLoading()" (click)="onSubmit()">Gửi lại email</button>

      <a routerLink="/login" class="back-link">
        <svg lucideArrowLeft [size]="14"></svg>
        Quay lại đăng nhập
      </a>
    </div>
  }
</div>
